* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #333;
}

.contato {
    background-color: #808080;
    height: 6vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.contato h2 {
    color: aliceblue;
    margin-right: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.banner {
    width: 100vw;
    height: 10vh;
    margin-top: 2px;
    display: flex;
}

.banner h1 {
    background-color: bisque;
    width: 30%;
    height: 100%; 
    border-right: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner ul {
    background-color: antiquewhite;
    width: 70%;
    height: 100%;
}

.nev {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nev li a {
    color: black;
}

a {
    text-decoration: none;
}

.nev li a:hover {
    color: red;
    text-decoration: underline;
} 

.principal {
    width: 100vw;
    height: 84vh;
    background-image: url(../TRABALHO_Mathias_LuisG/img/images.jpg);
    background-repeat: no-repeat;
}